@model Patient_Form.Models.CheckupModel
@{
    ViewData["Title"] = "Edit Appointment";
}

<div class="container mt-4">
    <h2>Edit Appointment</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6">
                <label>First Name</label>
                <input asp-for="FName" class="form-control" />
            </div>

            <div class="col-md-6">
                <label>Last Name</label>
                <input asp-for="LstName" class="form-control" />
            </div>

            <div class="col-md-6">
                <label>Gender</label>
                <input asp-for="Gender" class="form-control" />
            </div>

            <div class="col-md-6">
                <label>City</label>
                <input asp-for="City" class="form-control" />
            </div>
        </div>

        <br />
        <a asp-action="Edit" asp-route-id="@Model?.Id">Update</a>
        <a asp-action="OnlineCheckup" class="btn btn-secondary">Back</a>
    </form>
</div>